            {%- comment -%}
            FIT LOGIC
            {%- endcomment -%} {% comment %}
            {%- assign isFit = true -%}
            {%- assign fits = '' -%}
            {%- assign fitsHandles = '' -%}
            {%- assign fitCurrent = '' -%}
            {% if product.title contains ' - ' %}
      
                    {% assign productTitle = product.title | split: '-' | first %}
                    {%- assign fitCurrent = product.title | split: '-' | last -%}
    
                    {% for findProduct in collections.all.products %}                    
                        {% if findProduct.title contains '-' %}
                            {% assign findProductTitle = findProduct.title | split: '-' | first%}
                            {% if findProductTitle contains productTitle and  product.title != findProduct.title %}
                            {%- assign fit = findProduct.title | split: '-' | last -%}
                            {%- assign fits = fits | append: ',' | append: fit -%}
                            {%- assign fitsHandles = fitsHandles | append: ',' | append: findProduct.handle -%}
                            {%- assign isFit = true -%}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if isFit %}
                    <div>
                        <div class="text-13 md:text-16 font-600">Color:</div>
                        <div>
                            {% assign fits = fits | append: ',' | append: fitCurrent %}
                            {%- assign fits = fits | remove_first: ',' | split: ',' -%}
                            {%- assign fits = fits | sort -%}
                            {%- assign fitsHandles = fitsHandles | append: ',' | append: product.handle -%}
                            {%- assign fitsHandles = fitsHandles | remove_first: ',' | split: ',' -%}
                            {%- assign fitsHandles = fitsHandles | sort -%}
                            <div class="flex-start gap-2">
          
                                {% for item in fits %}
                                    {% if item == fitCurrent %}
                                    <div class="block-swatch current-item-box-shadow">
                                        {{fitCurrent}}
                                    </div>

                                    {% else %}
                                    <a href="/products/{{fitsHandles[forloop.index0]}}" class="block-swatch">{{item}}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %} {% endcomment %}
            {%- comment -%}
                FIT LOGIC
            {%- endcomment -%} 

{%- assign fits = '' -%}
{%- assign fitsHandles = '' -%}

{% if product.title contains ' - ' %}
  {%- assign productTitle = product.title | split: ' - ' | first | strip -%}
{% comment %}
  {% paginate collections.all.products by 10000 %}
  {% for item in collections.all.products %}
    {% if item.title contains product.title %}
      <div>{{ item.title }}</div>
    {% endif %}
  {% endfor %}
  {% endpaginate %}
{% endcomment%}

  {% for findProduct in collections.all.products %}
    {% if findProduct.title contains productTitle and product.title != findProduct.title %}
      {%- assign fit = findProduct.title | split: ' - ' | last | strip -%}
      {%- assign fits = fits | append: ',' | append: fit -%}
      {%- assign fitsHandles = fitsHandles | append: ',' | append: findProduct.handle -%}
    {% endif %}
  {% endfor %}
{% endif %}

{% if fits != '' %}
  <div>
    <div class="text-13 md:text-16 font-600">Color:</div>
    <div class="flex-start gap-2">
      {% for item in fits %}
        {% assign currentFit = product.title | split: ' - ' | last | strip %}
        {% if item == currentFit %}
          <div class="block-swatch current-item-box-shadow">{{ item }}</div>
        {% else %}
          <a href="/products/{{ fitsHandles | split: ',' | last }}" class="block-swatch">{{ item }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}

